/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
#toggle {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#exam {
  /* display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch; */
  margin-top: 30%;
  margin-bottom: 5%;
  text-align: center;
}

#question {
  background-color: white;
}

#option {
  display: flex;
  flex-direction: column;
  margin: 3px;
  text-align: center;
}
