.buttons {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#toggle {
  position: relative;
  top: 2.5rem;
  right: 7rem;
  width: 5rem;
  text-align: center;
  z-index: 1;
}

.exam {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;  
  opacity: 80%;
}
.exam.active {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.question {
  position: relative;
  margin: 5%;
  padding: 0.3rem;
  background-color: white;
}

.answer {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* height: 15rem; */
  margin: 5%;
}

.option {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-bottom: 3%;
  font-size: medium;
  text-align: left;
}
.option > i {
  padding-right: 1.5rem;
}

#commit {
  width: 7rem;
  height: 3rem;
  align-self: flex-end;
  font-size: 16px;
  letter-spacing: 2px;
}