.row {
  opacity: 70%;
}

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

.upper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#toggle {
  position: relative;
  top: 2.5rem;
  right: 7rem;
  width: 5rem;
  text-align: center;
}

.exam {
  display: none;
  position: absolute;
  left: 0;
  bottom: 6%;
  width: 100%;  
}
.exam.active {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.question {
  position: relative;
  margin: 5%;
  padding: 0.3rem;
  background-color: white;
}

.answer {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* height: 15rem; */
  margin: 5%;
}

.option {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-bottom: 3.5%;
  font-size: medium;
  text-align: left;
}
.option > i {
  padding-right: 1.5rem;
}

.lower {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#commit {
  width: 6rem;
  height: 2.5rem;
  align-self: flex-end;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

:required + label:after {
  content: " *";
  color: red;
}