/* style for the loader */
.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

#toggle {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#exam {
  /* display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch; */
  margin-top: 30%;
  margin-bottom: 5%;
  text-align: center;
}

#question {
  background-color: white;
}

#option {
  display: flex;
  flex-direction: column;
  margin: 3px;
  text-align: center;
}